<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Test Font Changer!!!</h1>
      <p class="lead">This will make your life simple, a simple style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <center>
      <a class="btn btn-primary btn-lg" href="/upper" role="button">Upper Case</a>&nbsp&nbsp
      <a class="btn btn-primary btn-lg" href="/lower" role="button">Lower Case</a>&nbsp&nbsp
      <a class="btn btn-primary btn-lg" href="/truncate" role="button">Truncate5</a>&nbsp&nbsp
      <a class="btn btn-primary btn-lg" href="/title" role="button">Title Case</a>&nbsp&nbsp
    </div>
    </div>
  </body>
</html>
